body{
  padding: 0px;
  margin: 0;
  font-family: arial;
  color: #ddd;
}

header{
  padding: 0 10px;
  background: #444;
  color: #888;
  height: 5vh;
}

header h2{
  line-height: 5vh;
  font-size: 2vh;
  font-weight: 300;
  text-transform: uppercase;
}

canvas{
  background-color: purple;
}
#container{
  position: relative;
  width: 100vw;
  height: 95vh;
  overflow-x: hidden;
}

#houstonmap{
  width: 65vw;
  height: 100%;
  color: black;
  background: #30DEEE;
}

#map-container{
  width: 100%;
  height: 100%;
  color: black;
  margin: auto;
}

#infobox{
  background: #CCC;
  width: 35vw;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  color: #444;
  text-align: center;
  border-left: 1px solid #555;
  overflow-y: scroll;
  overflow-x: hidden;
}

#infoarea{
  display: flex;
  width: 100%;
  height: 50vh;
  min-height: 300px;
  justify-content: space-around;
  flex-wrap: wrap;
}

input[type=radio] + label{
  width: 40%;
  display: inline-block;
  color: #999;
}
input[type=radio]{
  display: none;
}
/* Highlighted state */
input[type="radio"]:checked+label{
  color: #333;
  font-weight: bold;
}


.prop_button{
  margin-bottom: 5px;
  width: 130px;
  height: 40px;
}
.prop_button.active {
	-moz-box-shadow:inset 0px 0px 15px 3px #23395e;
	-webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
	box-shadow:inset 0px 0px 15px 3px #23395e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
	background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
	background-color:#2e466e;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.leaflet-popup-content{
  text-align: center;
}
.leaflet-control-attribution{
  background-color: #333 !important;
  color: #fff !important;
  opacity: .9;
}
